<html>
<head>
<title>EJS Demo</title>
</head>
<body>
<h1>OOP'S Page Not Found</h1>
<h3>404 Error</h3>
<h2>Click on the link below to redirect to main app</h2>
<br/>	
<a href="/" >Click me!!!</a>
</body>
</html>
